*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.App{
    height: 100vh;
    background-color: azure;
    display: grid;
    grid-template-rows: 6rem 1fr;
}

.generalError{
    color: red;
    margin-top: 0.4rem;
    font-size: 1.1rem;
}